<div>
  <h1 class="b-bottom">Mucopolisacaridosis tipo I (MPSI)</h1>
  <p>La mucopolisacaridosis tipo I o síndrome de Hurler, conocida también por las siglas MPS I, es una enfermedad congénita que esta causada por el déficit de una enzima, la alfa-L-iduronidasa, que ocasiona acumulación progresiva de mucopolisacaridos en las células del tejido conectivo, incluido cartílago y hueso. Es una enfermedad por depósito o tesaurismosis. Se presenta un caso por cada 100.000 nacimientos por lo que está incluida dentro del grupo de las enfermedades raras.</p>
  <p>...</p>
</div>
