<div class="row align-content-center text-center jumbo mx-0">
    <div class="col-sm-4 bg-image">
<!--      <img src="assets/images/medicoResize.jpg" class="img-fluid">-->
    </div>
    <div class="col-sm-8 text-start p-md-5 p-3 my-5 lh-lg">
      <p>LisoPlus surge como una herramienta para profesionales sanitarios, con la que facilitamos el abordaje de todo el proceso diagnóstico, en un grupo de enfermedades de depósito lisosomal: <b>Pompe, Fabry, Gaucher y MPSI</b> (consideradas Enfermedades Raras)</p>
    </div>
</div>
