<div class="row align-items-stretch">
  <div class="col-6">
    <a href="" class="text-decoration-none text-secondary" [routerLink]="['/','info', 'enfermedades']">
      <div class="text-center p-2 mat-elevation-z2 h-100 w-100 whitesmoke-bg outline-inward clickable">
        <div class="mt-2"> <img src="assets/svg/004-gene-mutation-1.svg" width="50" height="50" /> </div>
        <h3 class="mat-title mt-3">ENFERMEDADES</h3>
        <span class="mat-small">Pompe, Fabry, Gaucher y
MPSI.</span>
      </div>
    </a>

  </div>
  <div class="col-6 align-self-stretch">
    <a href="" class="text-decoration-none text-secondary" [routerLink]="['/','info', 'diagnostico']">
      <div class="text-center p-2 mat-elevation-z2  h-100 w-100 whitesmoke-bg outline-inward clickable">
        <div class="mt-2"> <img src="assets/svg/003-stethoscope-1.svg" width="50" height="50" /> </div>
        <h3 class="mat-title mt-3">DIAGNÓSTICO</h3>
        <span class="mat-small">Tipo de diagnóstico, seguimiento del paciente y procedimientos.</span>
      </div>
    </a>

  </div>
</div>
