@import "src/palette";
.bg{
  background: $liso-primary url("~src/assets/bg/bg5Resize.jpg") repeat-y center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.bg-image {
  /* The image used */
  background-image: url("~src/assets/bg/bg6Resize.jpg");

/*  !* Add the blur effect *!
  filter: blur(8px);
  -webkit-filter: blur(8px);*/

  /* Full height */
  //height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-infosection{
  background-color: rgba(219, 219, 219, 0.8);
}
.primary-bg-op{
  background-color: rgba(10, 125, 83, 0.8);
}

.primary-bg-faqs{
  background: $liso-primary url("~src/assets/bg/bg4Resize.jpg") bottom right;
  background-size: cover;
}

.opacity-partial{
  opacity: 0.5;
}
.no-opacity{
  opacity: 1;
}
