<!--<app-carousel></app-carousel>-->
<div class="bg">
  <section class="light-bg">
      <app-jumbo></app-jumbo>
  </section>
  <section class="bg-infosection py-5">
    <app-infosection class=""></app-infosection>
  </section>
  <section class="primary-bg-faqs  text-white">
    <div class="primary-bg-op py-5">
      <app-faqsection></app-faqsection>
    </div>
  </section>
  <section class="bg-light py-5 animated">
    <app-channelsection></app-channelsection>
  </section>
  <section class="primary-bg-op py-5 text-white curved-i curved-i-tools">
    <app-toolssection></app-toolssection>
  </section>
</div>

