<app-section-title [showBack]="false" [title]="'Información'"></app-section-title>
<div class="text-center container my-3">
  <h3 class="text-uppercase fs-3 light-color">enfermedades por depósito lisosomal</h3>
  <p class="fs-6 text-secondary text-start"> Las enfermedades por depósito lisosomal son un grupo heterogéneo de unos 50 trastornos metabólicos hereditarios. Estos trastornos tienen en común un déficit genético de enzimas u otras proteínas relacionadas con la hidrólisis de macromoléculas en los lisosomas.</p>
</div>
<div class="container text-center p-sm-5">
  <app-info-selector></app-info-selector>
</div>
