@import "src/palette";

.card {
  border: none;
  background-color: $liso-ligth;
  color: $liso-dark;
  border-radius: 12px
}

.user-timing {
  right: 9px;
  bottom: 9px;
  color: #fff
}

.views-content {
  color: #606271
}

.views {
  font-size: 12px
}

.dots {
  display: flex;
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 6px
}

.days-ago {
  margin-top: -10px;
  color: #606271
}

.snipimage img {
  height: 100px
}
