<div>
  <h1 class="b-bottom">Enfermedad de Gaucher</h1>
  <p>La enfermedad de Gaucher (GD) es una enfermedad congénita autosómica recesiva, provocada por un déficit de la enzima glucocerebrosidasa (participante en la degradación lisosómica de los glucolípidos), lo que conlleva un acúmulo de glucocerebrósido (un tipo de esfingolípido) en las células del sistema fagocítico mononuclear.1​ Está considerada como una "enfermedad rara". Se incluye dentro del grupo de las lipidosis que son producidas por acumulación de lípidos y pertenecen al más amplio grupo de las enfermedades por depósito lisosomal. Los síntomas principales consisten en alteraciones hemáticas, hepatomegalia y esplenomegalia.</p>
  <p>...</p>
</div>
