<footer class="footer">
  <div class="row">
    <div class="col-sm-6 col-md-4 footer-navigation">
      <h3><a href="https://www.lisoplus.com">Liso<span>Plus</span></a></h3>
      <p class="links">
        <a href="">Inicio</a><strong> · </strong>
        <a href="">Info</a><strong> · </strong>
        <a href="">Faq</a><strong> · </strong>
        <a href="">Herramientas</a><strong> · </strong>
        <a href="">Blog</a><strong> · </strong>
        <a href="">Contacto</a>
      </p>
      <p class="company-name">LisoPlus © 2021</p>
    </div>
    <div class="col-sm-6 col-md-4 footer-contacts">
      <div>
        <p><span class="new-line-span">Estrada do Vao, 59 – 36331</span>Vigo – Pontevedra</p>
      </div>
      <div>
        <p class="footer-center-info email text-end"> (+34) 659 531 177</p>
      </div>
      <div>
        <p> <a href="" target="_blank">lisoplus@medicalesp.com</a></p>
      </div>
    </div>
<!--    <div class="clearfix"></div>-->
    <div class="col-md-4 footer-about">
      <h4>Sobre nosotros</h4>
      <p>"Solo se camina rápido, en equipo se llega más lejos"</p>
      <div class="social-links social-icons">
        <a href=""><img src="assets/svg/010-twitter.svg" class="img-fluid" width="25"></a>
        <a href=""><img src="assets/svg/011-linkedin.svg" class="img-fluid" width="25"></a>
        <a href="https://www.medicalesp.com" target="_blank"><img src="assets/svg/012-responsive.svg" class="img-fluid" width="25"></a>
      </div>
    </div>
  </div>
</footer>
