<div class="container">
  <div class="inner_wrap">
    <h1 class="fs-1 font-family-title mb-1">CANAL DE FORMACIÓN</h1>
    <div class="d-flex justify-content-center">
      <hr class="text-primary hr-title">
    </div>
    <p class="text-center">Acceso a videos formativos, <span>y otros recursos...</span></p>
    <div class="w-100 text-center">
      <a href="" class="btn btn-outline-primary" routerLink="learning">Ir a Formación</a>
    </div>
    <span class="border_btm"></span>
  </div>
</div>

