<div class="py-4 light-bg">
  <button mat-mini-fab color="accent" class="back-fab position-absolute" routerLink=".."><mat-icon>navigate_before</mat-icon></button>
  <h1 class="mat-title fw-bolder primary-color text-center my-0">ENFERMEDADES</h1>
</div>
<div class="container my-3">
  <div class="row">
    <div class="col-sm-4">
      <h3>Menú</h3>
      <mat-divider></mat-divider>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor="let s of sections; let i = index;">
          <a class="nav-link" routerLinkActive="active" [routerLink]="s.link">{{s.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
