<div class="container text-center p-sm-3">
  <div class="">
    <h1 class="mat-headline">INFORMACIÓN</h1>
    <h2 class="mat-subheading-1 mb-5">Aprende acerca de las enfermedades y sus procesos de diagnóstico</h2>
    <div class="row align-items-stretch">
      <div class="col-6">
        <div class="text-center p-2 mat-elevation-z2 rounded-3 h-100 bg-white">
          <div class="mt-2"> <img src="assets/svg/004-gene-mutation-1.svg" width="50" height="50" /> </div>
          <h3 class="mat-title mt-3">ENFERMEDADES</h3>
          <span class="mat-small">Pompe, Fabry, Gaucher y
MPSI.</span>
        </div>
      </div>
      <div class="col-6 align-self-stretch">
        <div class="text-center p-2 mat-elevation-z2 rounded-3 h-100 bg-white">
          <div class="mt-2"> <img src="assets/svg/003-stethoscope-1.svg" width="50" height="50" /> </div>
          <h3 class="mat-title mt-3">DIAGNÓSTICO</h3>
          <span class="mat-small">Tipo de diagnóstico, seguimiento del paciente y procedimientos.</span>
        </div>
      </div>
    </div>
  </div>
</div>
